name = "easy-dca-wrangler"
type = "webpack"
account_id = "{change-me-to-your-cloudflare-account-id}" # You can find this on the sidebar of the worker page in the Cloudflare dashboard. Right now it's labeled "API tokens".
webpack_config = "webpack.config.js"
workers_dev = true
kv_namespaces = [ 
	 { binding = "STORE", id = "{some-id-looking-string}" }
]

[triggers]
crons = ["0 * * * *", "0 0 * * *"]